*{
 margin: 0;
 padding: 0;
}
#parent{
 height: 100vh;
 width: 100vw;
 display: flex;
}
#first-child{
 height: 100%;
 width: 70%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#first-child h3{
 font-size: 35px;
 margin-bottom: 5px;
}
#first-child img{
  height: 40px;
  width: 40px;
}
#first-child input{
 height: 30px;
 width: 300px;
 border-radius: 10px;
 border: none;
 background-color: gainsboro;
 padding: 5px;
 
}
#first-child button{
 height: 35px;
 width: 90px;
 border-radius: 20px;
 border: none;
 background-color: rgb(29, 187, 129);
 color: white;
}
#first-child button:hover
{
 background-color: goldenrod;
}
#second-child{
 height: 100%;
 width: 30%;
 background-color: rgb(29, 187, 129);
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#second-child h2{
 font-size: 35px;
 margin-bottom: 20px;
}
#second-child button{
 height: 35px;
 width: 140px;
 background-color: white;
 color: black;
 margin-top: 25px;
 border-radius: 20px;
 border: none;
}